@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

*{
   margin: 0;
   padding: 0;
}

:root{
   --salmão: #ffcdb2ff;
--melão: #ffb4a2ff;
--salmão-rosa: #e5989bff;
--rosa-velha: #b5838dff;
--cinza-escuro: #6d6875ff;
--fonte-titulo:"Pacifico", cursive;
--fonte-texto: "Cormorant Garamond", serif;
}

body{
   background-color: var(--melão);
   font-family: var(--fonte-texto);
}

.cabecalho{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--salmão);
}

.cabecalho-logo{
   width: 10%;
   border-radius: 100%;
   padding: 1em;
}

.cabecalho-link{
   text-decoration: none;
   color: var(--rosa-velha);
   font-size: 2em;
   margin-right: 1em;
}
.cabecalho-link:hover{
   color: var(--salmão-rosa);
   font-size: 1.9em;
   transition: 0.3s;
}
